.footerContainer {
  display: flex;
  flex-direction: column;
}

.footerChildContainer {
  display: flex;
  width: 100%;
  height: fit-content;
}
.childChangePasswordContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
width: 100%;
}