.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupButton {
    border: 0px;
    color: rgb(148, 148, 255);
    background-color: #fff;
}
